        body {
            font-family: 'Poppins', sans-serif;
            background-color: #f3f3f3;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .login-container {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 300px;
            text-align: center;
        }

        h1 {
            color: #333;
        }
        p{
            color: red;
            font-weight: bold;
        }
        input[type="text"], input[type="password"], input[type="email"] {
            position: relative;
            width: 90%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button {
            margin-top: 20px;
            background-color: #3498db;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        .signup{
            margin-left: 50px;
        }

        button:hover {
            background-color: #2575b4;
        }

        
        span{
            cursor: pointer;
            position: relative;
            top: -35px;
            right: 25px;
            float: right;
        }
        .emailicon{
            top: -40px;
        }